@import './common.stylus'

.about_us {
    .head{
        .content{
            .text{
                 line-height: 42px;
                }
            }
    }
    .contain_body{
        padding: 127px;
        .label{
                font-size: 37px;
                padding-left: 0px;
            }
        .row{
                margin: 60px 0px 30px;}
        .text{
           
                    font-size: 21px;
                   
                    line-height: 40px;
            }
    }
}