@import './common.stylus';

.about_us {
  .head {
    .content {
      .text {
        line-height: 42px;
      }
    }
  }

  .contain_body {
    padding: 127px;

    .label {
      font-size: 37px;
      padding-left: 0px;
      text-align: left;
    }

    .row {
      margin: 100px 0px 40px;
    }

    .text {
      font-size: 21px;
      line-height: 40px;
    }
  }

  .bottom-text {
    text-align: left;
    font-size: 28px;
  }
}