
.community {
    overflow: hidden;

    .card_content{
        padding: 80px 140px
        .img{
                width: 80px;
            }
            .title{
                font-size: 80px
                margin: 40px 0px;
                }
                .text{
                        font-size: 18px;
                }
        }
}