
@import './common.stylus';

.contactUs {
    .head {
        position: relative;

        .content {
            position: absolute;
            color: #fff;
            left: 10%;
            top: 20%;

            .title {
                color: #dc2f2f;
                font-size: 80px;
                margin-bottom: 30px;
            }

            .text {
                margin-top: 10px;
                font-size: 21px;
                width: 52%;
                line-height: 44px;
            }
        }
    }
    .contain{
        padding: 50px 280px;
    }
   
}
