
@import './common.stylus';

.index {
  .contain_text {
    margin: 259px 107px 0;
    font-weight: bold;

    .animate {
      .gradually {
        @keyframes gradually {
          from {
            opacity: 0;
          }

          to {
            opacity: 1;
          }
        }

        animation: gradually 1s;
      }
    }

    .text {
      font-size: 64px;
      letter-spacing: 1px;
      font-weight: bold;
    }

    .color_red {
      color: #D63B45;
    }
  }

  .believe {
    color: #D63B45;
    width: 100%;
    font-size: 54px;
    letter-spacing: 1px;
    margin-bottom: 25px;
  }

  .list_item {
    font-size: 26px;
    padding: 20px 96px 70px;
    line-height: 1.65;
    align-items: flex-start;

    .title {
      font-size: 52px;
      margin-bottom: 20px;
    }

    .images {
      width: 70%;
    }

    .button {
      margin-top: 80px;
      text-align: left;
      color: #D63B45;
      border: none;
      background: none;
      background-size: cover;
      padding-right: 20px;
      background-repeat: no-repeat;
      border: 3px solid #D63B45;
      position: relative;
      padding-right: 40px;
      padding-left: 20px;

      .arrow {
        position: absolute;
        margin-left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        right: 20px;
        font-weight: 700;
      }
    }

    .text_left {
      text-align: left;
    }

    .text_right {
      width: 100%;
      text-align: left;
    }

    .text {
      text-align: justify;
    }

    .icon_bg {
      background: #efefef;
    }

    .item-market-con{
      position:relative;
      width: 310px;
    }
    .tips {
      width: 25px;
      height: 25px;
      font-size: 18px;
      margin-left: 10px;
      border-radius: 50%;
      background-color: rgb(200, 201, 201);
      color: #fff;
      text-align: center;
      cursor: pointer;
      display: inline-block;
    }

    .tips-box {
      position: absolute;
      left: 98%;
      top: 33px;
      width: 500px;
      border-radius: 4px;
      z-index: 100;
      padding: 10px 20px;
      color: #fff;
      border: 1px solid #ddd;
      background-color: rgba(95, 88, 86, 0.8);

      p {
        font-size: 11px;
      }
    }
    
  }

  .margin_top {
    margin-top: 155px;
  }

  .flex_space-between {
    justify-content: space-between;
  }

  // .column_center {
  // display: flex;
  // align-items: center;
  // }

  // .row_center {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // }
  .flex-right {
    display: flex;
    align-items: flex-end;
  }

  .background_ece {
    background: #F0F0F0;
  }

  .margin-top_20 {
    margin-top: 20px;
  }

  .icon-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
  }

  // 数据div
  .list-item-data {
    display: flex;
    height: 400px;
    box-sizing: content-box;
    margin-top: 144px;
    background-color: rgb(240, 240, 240);

    .item-left, .item-right {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .item-left {
      flex: 4;
      justify-content: space-between;

      &>div {
        display: flex;
        flex-direction: column;

        span:first-child {
          font-size: 34px;
        }

        span:last-child {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 4.5px;
        }
      }

      .more-button {
        border: 1px solid #000;
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 5px 0;
        cursor: pointer;
        text-decoration: none;
      }

      .more-button:hover {
        color: #000;
      }
    }

    .item-right {
      flex: 6;
      padding: 10px;

      .chart-market-mood {
        position: relative;
        top: 40px;
        right: -40px;
      }

      span {
        width: 100%;
        text-align: right;
        font-size: 12px;
        color: #999;
      }
    }
  }
}
