
@import './common.stylus';

.index {
  .contain_text {
    margin: 20vh 107px 0;
    height: calc(100vh - 205px);
    font-weight: bold;

    .animate {
      .gradually {
        @keyframes gradually {
          from {
            opacity: 0;
          }

          to {
            opacity: 1;
          }
        }

        animation: gradually 1s;
      }
    }

    .text {
      font-size: 64px;
      letter-spacing: 1px;
      font-weight: 500;
    }

    .color_red {
      color: #D63B45;
    }
  }

  .believe {
    color: #D63B45;
    width: 100%;
    font-size: 54px;
    letter-spacing: 1px;
    margin-bottom: 25px;
  }

  .list_item {
    font-size: 26px;
    padding: 200px 96px 200px;
    line-height: 1.65;
    align-items: flex-start;

    .title {
      font-size: 52px;
      margin-bottom: 20px;
    }

    .images {
      width: 70%;
    }

    .button {
      margin-top: 180px;
      text-align: left;
      color: #D63B45;
      border: none;
      background: none;
      background-size: cover;
      padding-right: 20px;
      background-repeat: no-repeat;
      border: 3px solid #D63B45;
      position: relative;
      padding-right: 40px;
      padding-left: 20px;

      .arrow {
        position: absolute;
        margin-left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        right: 20px;
        font-weight: 700;
      }
    }

    .text_left {
      text-align: left;
    }

    .text_right {
      width: 100%;
      text-align: left;
    }

    .text {
      text-align: justify;
    }

    .icon_bg {
      background: #efefef;
    }
  }

  .margin_top {
    margin-top: 155px;
  }

  .flex_space-between {
    justify-content: space-between;
  }

  // .column_center {
  // display: flex;
  // align-items: center;
  // }

  // .row_center {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // }
  .flex-right {
    display: flex;
    align-items: flex-end;
  }

  .background_ece {
    background: #F0F0F0;
  }

  .margin-top_20 {
    margin-top: 20px;
  }

  .icon-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
  }
}
