@import './common.stylus';

.investment {
  .head {
    position: relative;

    .content {
      position: absolute;
      color: #fff;
      left: 10%;
      top: 50%;
      transform: translate(0px, -50%);

      .title {
        color: #dc2f2f;
        font-size: 80px;
        margin-bottom: 30px;
      }

      .text {
        margin-top: 10px;
        font-size: 21px;
        width: 100%;
        line-height: 42px;
      }
    }
  }

  .head_text {
    background: #e4e4e4;
    padding: 120px 140px;

    .text {
      font-size: 22px;
      margin-top: 10px;
      line-height: 42px;
    }
  }

  .icon_padding {
    padding: 10px;
    background: #efefef;
  }

  .slogan {
    color: #d60b0b;
    font-size: 50px;
    margin-bottom: 30px;
  }

  .slogan_next {
    font-size: 35px;
  }

  .list_item {
    padding: 100px 140px;

    .title {
      position: relative;
      right: 50px;
      font-size: 60px;
      margin-bottom: 3  0px;
    }
  }
}
