@import './common.stylus';

.investment {
  .head {
    position: relative;

    .content {
      position: absolute;
      color: #fff;
      left: 10%;
      top: 50%;
      transform: translate(0px, -50%);

      .title {
        color: #dc2f2f;
        font-size: 80px;
        margin-bottom: 30px;
      }

      .text {
        margin-top: 10px;
        font-size: 21px;
        width: 100%;
        line-height: 42px;
      }
    }
  }

  .head_text {
    background: #e4e4e4;
    padding: 120px 140px;

    .text {
      font-size: 22px;
      margin-top: 10px;
      line-height: 42px;
    }
  }

  .icon_padding {
    padding: 10px;
    background: #efefef;
  }

  .slogan {
    color: #d60b0b;
    font-size: 50px;
    margin-bottom: 30px;
  }

  .slogan_next {
    font-size: 35px;
  }

  .list_item {
    padding: 80px 100px 0;

    .title {
      position: relative;
      right: 50px;
      font-size: 60px;
      margin-bottom: 60px;
    }
  }

  .icon-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 25px auto;
  }

  .icon_bg {
    background: #efefef;
    margin-left: 15px;
  }

  back_img_size = 10.9vw;

  for i in 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 {
    .back_investment_{i} {
      height: 163px;
      width: 163px;
      margin: 25px;
      max-width: back_img_size;
      max-height: back_img_size;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url('/static/images/investment/1/' + i + '.png');
    }

    .back_investment_{i}:hover {
      height: 163px;
      width: 163px;
      margin: 25px;
      background-image: url('/static/images/investment/1/' + i + '_.png');
    }

    @media only screen and (max-width: 1600px) {
      .back_investment_{i}, .back_investment_{i}:hover {
        height: 105px;  
        width: 105px;
        margin: 25px;
      }
    }
  }
}
