@import './common.stylus';

.projectSubmitted {
    .head {
        text-align: center;
        margin: 40px 0px 80px 0px;

        img {
            width: 200px;
        }
    }

    .contain {
        padding: 0px 200px 200px;

        .text {
            font-size: 37px;
            border-bottom: 1px solid #b5afaf;
            padding-bottom: 70px;
            margin-bottom: 70px;
        }

        .form_title {
            font-size: 45px;
            margin-bottom: 30px;
            font-weight: 800;
        }

        .form_item {
            margin: 20px 0px;
        }
    }
}

.model {
    text-align: center;
    padding-bottom: 30px;
    img {
        width: 100px;
    }

    .title {
            font-size: 40px;
    }

    .text {
        width: 50%;
        margin: 20px auto;
    }

    .backHome {
    background: black;
    color: #fff;
    width: 30%;
    min-width: 130px;
    margin: auto;
    }
}